.question-div{
    background-color: rgb(4, 2, 129);
    height: 50px;color: white;
    
    
}
.answer-div{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    height: 0px;
    border: 1px solid rgb(209, 135, 135);
    transition: all 0.4s ease;
   
}
.answer{
    margin-left: 20px;margin-top: 10px;
    
}
.show{
    height: 230px;

}
.down-icon{
    transition: all 0.4s ease;
}
.icon{
    rotate: 180deg;
}